# Default ignored files

src/main/resources/application.properties
src/main/resources/level.properties
src/main/resources/client_secrets.json

# Created by https://www.toptal.com/developers/gitignore/api/gradle
# Edit at https://www.toptal.com/developers/gitignore?templates=gradle

### Gradle ###
.gradle
**/build/
