
body {
    background-image: url(/image/background.png);
    color: #db3246;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


button {
    background-color: #FF7F38;
    color: #FFFF;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 20px;
    position: relative;
    left: 600px;
}

.card {
    background-color:rgba(0, 0, 0, 0.2);/*까만색(0,0,0) 20% 투명도*/
    /* border: 1px solid #aa0f0f; */
}
