

body {
    background: #261B23;
    height: 100vh;
}

.login-form {
    background: #261B23;
}

.error-message {
    color: red;
}

.login-text {
    background: #dabfc2;
    color: #FFFF;
    border: 0;
}

.login-text:focus {
	color: #111;
}
