<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/home/fragment/header.html :: fragment-header"></div>
</head>

<body>

<div th:replace="/home/fragment/side.html :: fragment-nav"></div>

<div class="container-fluid p-5 mt-5">

    <div class="text-light text-center my-5">
        <i class="fab fa-twitch fa-5x" style="color: blueviolet; margin-right: 50px;"></i>
        <i class="fab fa-youtube fa-5x" style="color: red; margin-right: 50px;"></i>
        <i class="fab fa-steam fa-5x" style="color: black; margin-right: 50px;"></i>
        <i class="fas fa-gamepad fa-5x" style="color: mediumturquoise; margin-right: 50px;"></i>

        <h1 style="margin-top: 50px; color: black;" class="display-4 mb-4 text-uppercase" >Welcome, <span th:text="${username}" class="text-success">Leo</span></h1>
    </div>




    <div class="row mx-5">
        <div class="col-md-4">
            <div class="card">
                <i class="fas fa-users-cog fa-7x mx-auto my-5 text-danger"></i>
                <div class="card-body text-center">
                    <h3 class="card-title text-danger mb-4">유튜브 링크</h3>


                </div>
            </div>
        </div>


        <!-- 일반 유저들의 게임 입력 -->
        <div class="col-md-4">
            <div class="card">
                <i class="fas fa-skull fa-7x mx-auto my-5" style="color: white;"></i>
                <div class="card-body text-center">
                    <h3 class="card-title text-success mb-4">게임 신청!</h3>



                </div>
            </div>
        </div>


        <!-- 게스트 유저들의 게임 조회 가능 -->
        <div class="col-md-4">
            <div class="card">
                <i class="far fa-meh-rolling-eyes fa-7x mx-auto my-5" style="color: tomato;"></i>
                <div class="card-body text-center">
                    <h3 class="card-title text-success mb-4">게임 리스트!</h3>



                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>